body.page-node {
  .pane-nnn {
    margin-top: $padding * 2;

    .node {
      @include inline-block;
      width: grid(960);
      .image-container {
        float: right;
        margin: 0 0 $padding $padding;
      }

      .text-container {
        float: right;
      }
      &:nth-child(2n) {
        .image-container {
          float: left;
        }
      }
    }
  }
}
