body.page-node {
  .pane-nnn {
    margin-top: $padding * 2;
    
    .node.node-article {
      .image-container {
        float: right;
      }

      .text-container {
        float: right;
      }
      &:nth-child(2n) {
        .image-container {
          float: left;
        }

        .text-container {
          float: left;
        }
      }
    }
  }
}