.panel-separator {
  padding: 0;
  margin: 0;
}

.panel-flexible .panel-separator {
  padding: 0;
  margin: 0;
}

.bx-wrapper .bx-loading {
  z-index: 300;
}

.bx-wrapper .bx-controls-direction a {
  z-index: 300;
}