.node {
  @include inline-block;
  width: grid(960);
  position: relative;
  background: white;

  .node-readmore {
    display: inline-block;
    padding: $padding;

    @include cell {
      padding: $padding * 2;
    }
  }

  .image-container {
    float: left;
    width: grid(480);
    padding: 0 $padding $padding 0;
    box-sizing: border-box;

    @include cell {
      width: grid(960);
      padding: 0;
      margin: 0;

      img {
        width: grid(960);
        height: auto;
      }
    }

    @include tablet {
      img {
        width: grid(960);
        height: auto;
      }
    }
  }

  h2 {
    font-size: $bigger-font-size;
    font-weight: bold;
    display: inline-block;
    width: grid(480);
    box-sizing: border-box;

    @include cell {
      width: grid(960);

      a {
        padding: 0;
      }
    }
  }

  .submitted {
    @include inline-block;
    box-sizing: border-box;
    padding: $padding;
    margin: 0;
    width: grid(480);
    color: adjust-lightness($p2-color, 20);
    font-size: $smaller-font-size;

    @include cell {
      width: grid(960);
    };
  }

  div.content {
    @include inline-block;
    width: grid(480);

    @include cell {
      width: grid(960);
    };
  }

  &:nth-child(2n) {
    .image-container {
      float: right;
      padding: 0 0 $padding $padding;

      @include cell {
        padding: 0;
      }
    }
  }

  .links.inline {
    display: block;

    li {
      float: right;
    }
  }
}

.node.node-event.node.node-view-mode-full, .node.node-event.node.node-view-mode-popup{
  .content {
    position: relative;
    width: grid(960);
  }

  .image-container {
    width: grid(960);
  }
}
