.node.node-article {
  @include inline-block;
  @include cell {
    width: 480px;
  }



  .image-container {
    float: left;
    width: 480px;
  }

  .text-container {
    float: left;
    padding: $padding;
    width: 480px - 2 * $padding;

    >h2 {
      font-size: $bigger-font-size;
      font-weight: bold;
      padding-bottom: $padding;
    }

    >.submitted {
      color: adjust-lightness($p2-color, 20);
      font-size: $smaller-font-size;
      padding: $padding;
    }
  }

  &:nth-child(2n) {
    .image-container {
      float: right;
    }

    .text-container {
      float: right;
    }
  }
}