/**
 * Be careful! This file is generated.
 */
@font-face {
  font-family: "site_icon";
  src: url('#{$font-folder}site_icon/font.eot');
  src: url('#{$font-folder}site_icon/font.eot?#iefix') format('eot'),
    url('#{$font-folder}site_icon/font.woff') format('woff'),
    url('#{$font-folder}site_icon/font.ttf') format('truetype'),
    url('#{$font-folder}site_icon/font.svg#site_icon') format('svg');
  font-weight: 400;
  font-style: normal;
}


  $font-site_icon-content-facebook:"\EA01";

  $font-site_icon-content-menu-down:"\EA02";

  $font-site_icon-content-menu-left:"\EA03";

  $font-site_icon-content-menu-right:"\EA04";

  $font-site_icon-content-menu-up:"\EA05";

  $font-site_icon-content-twitter:"\EA06";



$list: (
  ("facebook", "\EA01"),
  ("menu-down", "\EA02"),
  ("menu-left", "\EA03"),
  ("menu-right", "\EA04"),
  ("menu-up", "\EA05"),
  ("twitter", "\EA06")
);

.site_icon {
  @each $item in $list {
    &.#{nth($item, 1)}:before {
      font-family: "site_icon";
      content: "#{nth($item, 2)}";
    }
  }
}