@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);

@font-face {
  font-family: "Ionic";
  src: url("../fonts/ionic/font.eot?v=2.0.1");
  src: url("../fonts/ionic/font.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../fonts/ionic/font.ttf?v=2.0.1") format("truetype"), url("../fonts/ionic/font.woff?v=2.0.1") format("woff"), url("../fonts/ionic/font.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; 
}

html {
  font-family: Play;
  font-size: $font-size;
}

body {
  font-size: 16px;
}

img {
  vertical-align: top;
}

h2 {
  font-size: $bigger-font-size;
  font-weight: bold;
}

a {
  color: $p3-color;
  text-decoration: none;

  &:hover {
    color: $p4-color;
  }

  &:visited {
    color: $p3-color;
  }
}

input {
  border: solid 1px $p3-color;
  width: grid(960);
  box-sizing: content-box;

  &[type=button], &[type=submit] {
    font-weight: bold;
    color: $p1-color;
    background: $p3-color;
    margin-right: $padding;
    padding: $padding;
    cursor: pointer;

    &:hover {
      background: adjust-lightness($p3-color, -20);
    }
  }
}

.button {
  @include inline-block;
  width: auto;
  border: solid 1px $p3-color;
  font-weight: bold;
  color: $p1-color;
  background: $p3-color;
  margin-right: $padding;
  padding: $padding;
  cursor: pointer;

  &:hover {
    background: adjust-lightness($p3-color, -20);
  }
}


.grid-480 {
  width: grid(480);
}

.ct-float-left {
  float: left;
}

.ct-float-right {
  float: left;
}

.ct-padding {
  padding: $padding;
  box-sizing: border-box;
}