@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);

html {
  font-family: Play;
  font-size: $font-size;
}

body {
}

h2 {
  font-size: $bigger-font-size;
  font-weight: bold;
}

a {
  color: $p3-color;
  text-decoration: none;

  &:hover {
    color: $p4-color;
  }

  &:visited {
    color: $p3-color;
  }
}

input {
  border: solid 1px $p3-color;

  &[type=button], &[type=submit] {
    font-weight: bold;
    color: $p1-color;
    background: $p3-color;

    &:hover {
      background: adjust-lightness($p3-color, -20);
    }
  }
}