$p1-color: white;
$p2-color: black;
$p3-color: blue;
$p4-color: red;

$padding: 5px;

$font-size: 14px;
$smaller-font-size: 12px;
$bigger-font-size: 16px;
$big-font-size: 18px;
$biggest-font-size: 20px;