// Compass.
$default-border-radius: 10px;

// Our.
$p1-color: #F6FFF2; // white
$p2-color: #050117; // black
$p3-color: #0048D8; // blue
$p4-color: #FF2119; // red

$padding: 10px;

$font-size: 1em;
$smaller-font-size: 0.9em;
$bigger-font-size: 1.1em;
$big-font-size: 1.2em;
$biggest-font-size: 1.3em;