// Compass.
$default-border-radius: 10px;

// Our.
$p1-color: #F6FFF2; // white
$p2-color: #050117; // black
$p3-color: #0048D8; // blue
$p4-color: #FF2119; // red

$padding: 10px;

$font-size: 16px;
$smaller-font-size: 14px;
$bigger-font-size: 18px;
$big-font-size: 20px;
$biggest-font-size: 22px;