@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic);
/* line 5, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partial/_base.scss */
.panel-separator {
  padding: 0;
  margin: 0;
}

@media all and (max-width: 600px) {
  /* line 6, ../sass/partial/_base.scss */
  .cell-img {
    width: 100%;
    height: auto;
  }
}

/* line 13, ../sass/partial/_base.scss */
.panel-flexible .panel-separator {
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/partial/_base.scss */
.bx-wrapper .bx-loading {
  z-index: 300;
}

/* line 22, ../sass/partial/_base.scss */
.bx-wrapper .bx-controls-direction a {
  z-index: 300;
}

/* line 26, ../sass/partial/_base.scss */
ul.primary.tabs {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border: none;
  padding: 0px;
}
/* line 31, ../sass/partial/_base.scss */
ul.primary.tabs li {
  float: left;
  background: #3f7fff;
  color: #050117;
  padding: 0.5em;
}
/* line 37, ../sass/partial/_base.scss */
ul.primary.tabs li:first-child {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 41, ../sass/partial/_base.scss */
ul.primary.tabs li:last-child {
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* line 45, ../sass/partial/_base.scss */
ul.primary.tabs li.active, ul.primary.tabs li:hover {
  background: #a5c3ff;
  color: #2f0ada;
}
/* line 53, ../sass/partial/_base.scss */
ul.primary.tabs li a {
  background: transparent;
  border: 0;
  color: #050117;
  padding: 0;
}

/* line 1, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  clear: both;
}
/* line 6, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text .image {
  box-sizing: border-box;
  width: 50%;
  float: left;
}
/* line 11, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text .image > img {
  width: 100%;
  height: auto;
}
@media all and (max-width: 600px) {
  /* line 6, ../sass/partial/cct/cm/_image_text.scss */
  .cm_cct_image_text .image {
    width: 100%;
  }
}
/* line 20, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text .title {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
  width: 50%;
  float: left;
}
@media all and (max-width: 600px) {
  /* line 20, ../sass/partial/cct/cm/_image_text.scss */
  .cm_cct_image_text .title {
    width: 100%;
  }
}
/* line 32, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text .text {
  box-sizing: border-box;
  padding: 0.5em;
  text-align: justify;
  width: 50%;
  float: left;
}
@media all and (max-width: 600px) {
  /* line 32, ../sass/partial/cct/cm/_image_text.scss */
  .cm_cct_image_text .text {
    width: 100%;
  }
}
/* line 45, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text.right .image {
  float: right;
}
/* line 48, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text.right .title {
  float: right;
}
/* line 51, ../sass/partial/cct/cm/_image_text.scss */
.cm_cct_image_text.right .text {
  float: right;
}

/* line 10, ../sass/partial/cct/cm/_map_text.scss */
.cm_cct_map_text {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  clear: both;
}
/* line 16, ../sass/partial/cct/cm/_map_text.scss */
.cm_cct_map_text .map {
  background: green;
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  float: left;
}
@media all and (max-width: 600px) {
  /* line 16, ../sass/partial/cct/cm/_map_text.scss */
  .cm_cct_map_text .map {
    width: 100%;
  }
}
/* line 28, ../sass/partial/cct/cm/_map_text.scss */
.cm_cct_map_text .title {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.5em;
  width: 50%;
  float: left;
}
@media all and (max-width: 600px) {
  /* line 28, ../sass/partial/cct/cm/_map_text.scss */
  .cm_cct_map_text .title {
    width: 100%;
  }
}
/* line 41, ../sass/partial/cct/cm/_map_text.scss */
.cm_cct_map_text .text {
  box-sizing: border-box;
  padding: 0.5em;
  text-align: justify;
  width: 50%;
  float: left;
}
@media all and (max-width: 600px) {
  /* line 41, ../sass/partial/cct/cm/_map_text.scss */
  .cm_cct_map_text .text {
    width: 100%;
  }
}
/* line 54, ../sass/partial/cct/cm/_map_text.scss */
.cm_cct_map_text.right .map {
  float: right;
}
/* line 57, ../sass/partial/cct/cm/_map_text.scss */
.cm_cct_map_text.right .text {
  float: right;
}

/* line 1, ../sass/partial/cct/cm/_share.scss */
.cm_cct_share {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  text-align: right;
}
/* line 6, ../sass/partial/cct/cm/_share.scss */
.cm_cct_share .icon {
  content: '';
  padding: 0.5em;
}
/* line 2, ../sass/partial/_mixin.scss */
.cm_cct_share .icon:before {
  color: #002672;
  font-size: 2.6em;
  content: "";
  display: inline-block;
  font-family: "ionic";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 10, ../sass/partial/cct/cm/_share.scss */
.cm_cct_share .icon:hover:before {
  color: #3f7fff;
}
/* line 15, ../sass/partial/cct/cm/_share.scss */
.cm_cct_share .icon.facebook:before {
  content: "\f231";
}
/* line 21, ../sass/partial/cct/cm/_share.scss */
.cm_cct_share .icon.twitter:before {
  content: "\f243";
}

/* line 1, ../sass/partial/cct/cm/_text.scss */
.cm_cct_text {
  padding: 0.5em;
}

@font-face {
  font-family: "Ionic";
  src: url("../fonts/ionic/font.eot?v=2.0.1");
  src: url("../fonts/ionic/font.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../fonts/ionic/font.ttf?v=2.0.1") format("truetype"), url("../fonts/ionic/font.woff?v=2.0.1") format("woff"), url("../fonts/ionic/font.svg?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../sass/partial/_typography.scss */
html {
  font-family: Play;
  font-size: 1em;
}

/* line 16, ../sass/partial/_typography.scss */
body {
  font-size: 16px;
}

/* line 20, ../sass/partial/_typography.scss */
img {
  vertical-align: top;
}

/* line 24, ../sass/partial/_typography.scss */
h2 {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 29, ../sass/partial/_typography.scss */
a {
  color: #0048D8;
  text-decoration: none;
}
/* line 33, ../sass/partial/_typography.scss */
a:hover {
  color: #FF2119;
}
/* line 37, ../sass/partial/_typography.scss */
a:visited {
  color: #0048D8;
}

/* line 42, ../sass/partial/_typography.scss */
input {
  border: solid 1px #0048D8;
  width: 100%;
  box-sizing: content-box;
}
/* line 47, ../sass/partial/_typography.scss */
input[type=button], input[type=submit] {
  font-weight: bold;
  color: #F6FFF2;
  background: #0048D8;
  margin-right: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}
/* line 55, ../sass/partial/_typography.scss */
input[type=button]:hover, input[type=submit]:hover {
  background: #002672;
}

/* line 61, ../sass/partial/_typography.scss */
.button {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto;
  border: solid 1px #0048D8;
  font-weight: bold;
  color: #F6FFF2;
  background: #0048D8;
  margin-right: 0.5em;
  padding: 0.5em;
  cursor: pointer;
}
/* line 72, ../sass/partial/_typography.scss */
.button:hover {
  background: #002672;
}

/* line 78, ../sass/partial/_typography.scss */
.grid-480 {
  width: 50%;
}

/* line 82, ../sass/partial/_typography.scss */
.ct-float-left {
  float: left;
}

/* line 86, ../sass/partial/_typography.scss */
.ct-float-right {
  float: left;
}

/* line 90, ../sass/partial/_typography.scss */
.ct-padding {
  padding: 0.5em;
  box-sizing: border-box;
}

/* line 1, ../sass/partial/_node.scss */
.node.node-article {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 4, ../sass/partial/_node.scss */
.node.node-article .image-container {
  float: left;
  width: 50%;
}
@media all and (max-width: 600px) {
  /* line 4, ../sass/partial/_node.scss */
  .node.node-article .image-container {
    width: 100%;
  }
  /* line 11, ../sass/partial/_node.scss */
  .node.node-article .image-container img {
    width: 100%;
    height: auto;
  }
}
@media all and (min-width: 601px) and (max-width: 959px) {
  /* line 18, ../sass/partial/_node.scss */
  .node.node-article .image-container img {
    width: 100%;
    height: auto;
  }
}
/* line 25, ../sass/partial/_node.scss */
.node.node-article .text-container {
  box-sizing: border-box;
  float: left;
  padding: 0.5em;
  width: 50%;
}
@media all and (max-width: 600px) {
  /* line 25, ../sass/partial/_node.scss */
  .node.node-article .text-container {
    width: 100%;
  }
}
/* line 35, ../sass/partial/_node.scss */
.node.node-article .text-container > h2 {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
/* line 41, ../sass/partial/_node.scss */
.node.node-article .text-container > .submitted {
  color: #1a0579;
  font-size: 0.9em;
  padding: 0.5em;
}
/* line 49, ../sass/partial/_node.scss */
.node.node-article:nth-child(2n) .image-container {
  float: right;
}
/* line 53, ../sass/partial/_node.scss */
.node.node-article:nth-child(2n) .text-container {
  float: right;
}
/* line 58, ../sass/partial/_node.scss */
.node.node-article .links.inline {
  display: block;
}
/* line 61, ../sass/partial/_node.scss */
.node.node-article .links.inline li {
  float: right;
}

/* line 2, ../sass/partial/page/_node.scss */
body.page-node .pane-nnn {
  margin-top: 1em;
}
/* line 6, ../sass/partial/page/_node.scss */
body.page-node .pane-nnn .node.node-article .image-container {
  float: right;
}
/* line 10, ../sass/partial/page/_node.scss */
body.page-node .pane-nnn .node.node-article .text-container {
  float: right;
}
/* line 14, ../sass/partial/page/_node.scss */
body.page-node .pane-nnn .node.node-article:nth-child(2n) .image-container {
  float: left;
}
/* line 18, ../sass/partial/page/_node.scss */
body.page-node .pane-nnn .node.node-article:nth-child(2n) .text-container {
  float: left;
}

/* line 2, ../sass/partial/page/_car_budget.scss */
body.page-car-budget .bx-wrapper .bx-viewport {
  background: #0048D8;
}

/* line 22, ../sass/screen.scss */
#page {
  width: 960px;
  margin: 0 auto;
}
@media all and (max-width: 600px) {
  /* line 22, ../sass/screen.scss */
  #page {
    width: 100%;
  }
}
@media all and (min-width: 601px) and (max-width: 959px) {
  /* line 22, ../sass/screen.scss */
  #page {
    width: 100%;
  }
}
/* line 34, ../sass/screen.scss */
#page > header {
  background: #0048D8;
  min-height: 0.5em;
  position: relative;
}
/* line 39, ../sass/screen.scss */
#page > header .cm_cct_logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  box-sizing: border-box;
  color: #F6FFF2;
  width: 50%;
  padding: 0.5em;
}
/* line 46, ../sass/screen.scss */
#page > header .cm_cct_logo > .image {
  float: left;
  width: 20.83333%;
}
/* line 50, ../sass/screen.scss */
#page > header .cm_cct_logo > .image img {
  width: 100%;
  height: auto;
}
/* line 56, ../sass/screen.scss */
#page > header .cm_cct_logo > .site_name {
  font-size: 1.3em;
  font-weight: bolder;
  float: left;
  width: 77.08333%;
  padding-top: 6.25%;
}
/* line 62, ../sass/screen.scss */
#page > header .cm_cct_logo > .site_name > p {
  padding-left: 0.5em;
}
/* line 67, ../sass/screen.scss */
#page > header .cm_cct_logo > .site_slogan {
  font-size: 0.9em;
  float: left;
  width: 77.08333%;
}
/* line 71, ../sass/screen.scss */
#page > header .cm_cct_logo > .site_slogan > p {
  padding-left: 0.5em;
}
@media all and (max-width: 600px) {
  /* line 39, ../sass/screen.scss */
  #page > header .cm_cct_logo {
    width: 100%;
  }
}
/* line 81, ../sass/screen.scss */
#page > header .cm_cct_menu, #page > header .language-switcher-locale-url {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  background: #3f7fff;
  bottom: 0;
  right: 0;
  padding: 0.5em;
  position: absolute;
}
@media all and (max-width: 600px) {
  /* line 81, ../sass/screen.scss */
  #page > header .cm_cct_menu, #page > header .language-switcher-locale-url {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    display: block;
    padding-left: 1.5em;
    position: relative;
  }
  /* line 2, ../sass/partial/_mixin.scss */
  #page > header .cm_cct_menu:before, #page > header .language-switcher-locale-url:before {
    color: #002672;
    font-size: 1.3em;
    content: "";
    display: inline-block;
    font-family: "ionic";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  /* line 98, ../sass/screen.scss */
  #page > header .cm_cct_menu:before, #page > header .language-switcher-locale-url:before {
    padding: 0.33333em;
    position: absolute;
    left: 0;
    top: 0;
  }
  /* line 107, ../sass/screen.scss */
  #page > header .cm_cct_menu.show:before, #page > header .show.language-switcher-locale-url:before {
    content: "\f104";
  }
  /* line 110, ../sass/screen.scss */
  #page > header .cm_cct_menu.show a, #page > header .show.language-switcher-locale-url a {
    display: block;
  }
  /* line 115, ../sass/screen.scss */
  #page > header .cm_cct_menu a, #page > header .language-switcher-locale-url a {
    display: none;
  }
  /* line 118, ../sass/screen.scss */
  #page > header .cm_cct_menu a.active, #page > header .language-switcher-locale-url a.active {
    display: block;
  }
}
/* line 124, ../sass/screen.scss */
#page > header .cm_cct_menu a, #page > header .language-switcher-locale-url a {
  color: #050117;
  margin-right: 0.5em;
  text-decoration: none;
}
/* line 129, ../sass/screen.scss */
#page > header .cm_cct_menu a:last-child, #page > header .language-switcher-locale-url a:last-child {
  margin: 0;
}
/* line 133, ../sass/screen.scss */
#page > header .cm_cct_menu a:hover, #page > header .language-switcher-locale-url a:hover, #page > header .cm_cct_menu a.active, #page > header .language-switcher-locale-url a.active {
  color: #F6FFF2;
}
/* line 139, ../sass/screen.scss */
#page > header .language-switcher-locale-url {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  bottom: auto;
  top: 0;
}
/* line 146, ../sass/screen.scss */
#page > header .language-switcher-locale-url li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
@media all and (max-width: 600px) {
  /* line 139, ../sass/screen.scss */
  #page > header .language-switcher-locale-url {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: block;
    padding-left: 1.5em;
    position: relative;
  }
  /* line 157, ../sass/screen.scss */
  #page > header .language-switcher-locale-url.show li {
    display: block;
  }
  /* line 162, ../sass/screen.scss */
  #page > header .language-switcher-locale-url li {
    display: none;
  }
  /* line 165, ../sass/screen.scss */
  #page > header .language-switcher-locale-url li.active {
    display: block;
  }
}
/* line 173, ../sass/screen.scss */
#page > main {
  background: #F6FFF2;
  min-height: 0.5em;
}
/* line 178, ../sass/screen.scss */
#page > footer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  min-height: 10.41667%;
  color: #F6FFF2;
  background: #050117;
  text-align: left;
}
/* line 186, ../sass/screen.scss */
#page > footer > .col {
  box-sizing: border-box;
  float: left;
  min-height: 100px;
  width: 25%;
  padding: 0.5em;
}
@media all and (max-width: 600px) {
  /* line 186, ../sass/screen.scss */
  #page > footer > .col {
    width: 50%;
  }
}
/* line 198, ../sass/screen.scss */
#page > footer > .col-480 {
  float: left;
  min-height: 100px;
  width: 50%;
}
@media all and (max-width: 600px) {
  /* line 198, ../sass/screen.scss */
  #page > footer > .col-480 {
    width: 100%;
  }
}
/* line 209, ../sass/screen.scss */
#page div.copyright {
  color: #F6FFF2;
  background: #050117;
  padding: 0.5em;
}

/* line 216, ../sass/screen.scss */
.back_to_top {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  opacity: 0.6;
}
/* line 2, ../sass/partial/_mixin.scss */
.back_to_top:before {
  color: #002672;
  font-size: 5.2em;
  content: "";
  display: inline-block;
  font-family: "ionic";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
