/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partial/variable";
@import "compass";
@import "partial/media";
@import "partial/base";
@import "partial/cct/cm/image_text";
@import "partial/typography";
@import "partial/node";

#page {
  @include cell {
    width: 480px;
    margin: 0 auto;
  }

  width: 960px;
  margin: 0 auto;

  >header {
    background: $p3-color;
    height: 130px;
    position: relative;

    .cm_cct_logo {
      @include inline-block;
      color: $p1-color;
      width: 400px;
      margin: 15px;

      >.image {
        float: left;
        width: 100px;
      }

      >.site_name {
        font-size: $biggest-font-size;
        font-weight: bolder;
        float: left;
        height: 50px - 30px;
        padding-top: 30px;
        width: 300px;
      }

      >.site_slogan {
        font-size: $smaller-font-size;
        float: left;
        height:50px;
        width: 300px;
      }
    }

    .cm_cct_menu {
      @include inline-block;
      @include border-top-left-radius;

      background:  adjust-lightness($p3-color, 20);
      bottom: 0;
      right: 0;
      padding: $padding;
      position: absolute;

      a {
        color: $p2-color;
        margin-right: $padding;
        text-decoration: none;

        &:last-child {
          margin: 0;
        }

        &:hover, &.active {
          color: $p1-color;
        }
      }
    }

    .language-switcher-locale-url {
      @extend .cm_cct_menu;
      @include border-top-left-radius(0);
      @include border-bottom-left-radius;
      bottom: auto;
      top: 0;

      li {
        @include inline-block;
      }
    }
  }

  >main {
    background: $p1-color;
    min-height: 200px;
  }

  >footer {
    @include cell {
      width: 480px;
    }

    @include inline-block;
    width: 960px;
    min-height: 100px;
    color: $p1-color;
    background: $p2-color;
    text-align: left;

    >.col {
      float: left;
      min-height: 100px;
      width: 240px - 2 * $padding;
      padding: $padding;
    }
  }

  div.copyright {
    color: $p1-color;
    background: $p2-color;
    padding: $padding;
  }
}

