/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partial/variable";
@import "partial/mixin";
@import "compass";
@import "partial/media";
@import "partial/base";
@import "partial/field";
@import "partial/cct/cm/image_text";
@import "partial/cct/cm/map_text";
@import "partial/cct/cm/share";
@import "partial/cct/cm/text";
@import "partial/typography";
@import "partial/node";
@import "partial/popup";
@import "partial/media";
@import "partial/page/node";
@import "partial/page/car_budget";
@import "partial/page/user-login";

#page {
  @include cell {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  width: 960px;
  margin: 0 auto;

  >header {
    background: $p3-color;
    min-height: $padding;
    position: relative;

    .cm_cct_logo {
      @include inline-block;
      box-sizing: border-box;
      color: $p1-color;
      width: grid(480);
      padding: $padding;

      >.image {
        float: left;
        width: grid(200);

        img {
          width: 100%;
          height: auto;
        }
      }

      >.site_name {
        font-size: $biggest-font-size;
        font-weight: bolder;
        float: left;
        width: grid(740);
        padding-top: grid(60);
        >p {
          padding-left: $padding;
        }
      }

      >.site_slogan {
        font-size: $smaller-font-size;
        float: left;
        width: grid(740);
        >p {
          padding-left: $padding;
        }
      }

      @include cell {
        width: grid(960);
      }
    }

    .cm_cct_menu {
      @include inline-block;
      @include border-top-left-radius;

      background:  adjust-lightness($p3-color, 20);
      bottom: 0;
      right: 0;
      padding: $padding;
      position: absolute;

      @include cell {
        @include border-radius(0);

        cursor: pointer;
        display: block;
        padding-left: $padding * 3;
        min-height: $font-size;
        @include ionic-icon("\f10a", adjust-lightness($p3-color, -20), $biggest-font-size);
        &:before {
          padding: $padding * 2 / 3;
          position: absolute;
          left: 0 ;
          top: 0;
        }
        position: relative;

        &.show {
          &:before {
            content: "\f104";
          }
          a {
            display: block;
          }
        }

        a {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      a {
        color: $p2-color;
        margin-right: $padding;
        text-decoration: none;

        &:last-child {
          margin: 0;
        }

        &:hover, &.active {
          color: $p1-color;
        }
      }
    }

    .language-switcher-locale-url {
      @extend .cm_cct_menu;
      @include border-top-left-radius(0);
      @include border-bottom-left-radius;
      bottom: auto;
      top: 0;

      li {
        @include inline-block;
      }

      @include cell {
        @include border-radius(0);
        display: block;
        padding-left: $padding * 3;
        position: relative;

        &.show {
          li {
            display: block;
          }
        }

        li {
          display: none;

          &.active {
            display: block;
          }
        }
      }
    }
  }

  >main {
    background: $p1-color;
    min-height: $padding;
  }

  >footer {
    @include inline-block;
    width: grid(960);
    min-height: grid(100);
    color: $p1-color;
    background: $p2-color;
    text-align: left;

    >.col {
      box-sizing: border-box;
      float: left;
      min-height: 100px;
      width: grid(240);
      padding: $padding;

      @include cell {
        width: grid(480);
      }
    }

    >.col-480 {
      float: left;
      min-height: 100px;
      width: grid(480);

      @include cell {
        width: grid(960);
      }
    }
  }

  div.copyright {
    color: $p1-color;
    background: $p2-color;
    padding: $padding;
  }
}

.back_to_top {
  cursor: pointer;
  display: none;
  position: fixed;
  right: $padding;
  bottom: $padding;
  opacity: 0.6;

  @include ionic-icon("\f10d", adjust-lightness($p3-color, -20), $biggest-font-size * 4);
}

#ct-body-lock-shadow {
  background-color: #111;
  opacity: 0.65;
  *background: none;
  position: fixed;
  z-index: 9001;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
}

#ct-body-lock {
  position: absolute;
  z-index: 9002;
  top: 50vh;
  left: 50%;
  width: 120px;
  height: 120px;
}
