/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partial/variable";
@import "partial/mixin";
@import "compass";
@import "partial/media";
@import "partial/base";
@import "partial/site_icon-font";
@import "partial/field";
@import "partial/cct/cm/image_text";
@import "partial/cct/cm/map_text";
@import "partial/cct/cm/share";
@import "partial/cct/cm/text";
@import "partial/typography";
@import "partial/node";
@import "partial/popup";
@import "partial/media";
@import "partial/page/node";
@import "partial/page/car_budget";
@import "partial/page/user-login";

#page {
  @include cell {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  width: 960px;
  margin: 0 auto;

  >header {
    @include inline-block;
    width: 100%;
    background: $p3-color;
    min-height: $padding;
    position: relative;

    .cm-cct-logo--wrapper {
      padding: 0;
      margin: 0;

      @include inline-block;
      position: relative;
      box-sizing: border-box;
      width: grid(480);

      p {
        padding: 0;
      }

      .cm_cct_logo {
        @include inline-block;
        box-sizing: border-box;
        color: $p1-color;
        width: grid(960);
        padding: $padding;

        >.image {
          float: left;
          width: grid(200);

          img {
            width: 100%;
            height: auto;
          }
        }

        >.site_name {
          font-size: $biggest-font-size;
          font-weight: bolder;
          float: left;
          width: grid(740);
          padding-top: grid(60);

          @include cell {
            padding-top: grid(80);
          }

          >p {
            padding-left: $padding;
          }
        }

        >.site_slogan {
          font-size: $smaller-font-size;
          float: left;
          width: grid(740);
          >p {
            padding-left: $padding;
          }

          @include cell {
            display: none;
          }
        }
      }

      @include cell {
        width: grid(960);
      }
    }

    .cm_cct_menu {
      @include inline-block;
      @include border-top-left-radius;

      background:  adjust-lightness($p3-color, 20);
      bottom: 0;
      right: 0;
      position: absolute;

      &.hide {
        display: none;
      }

      a {
        padding: $padding * 2;
        display: inline-block;
      }

      @include cell {
        @include border-radius(0);
        cursor: pointer;
        float: left;
        display: inline-block;
        width: 90%;
        min-height: $font-size;
        padding: 0;
        margin: 0;
        position: relative;

        a {
          overflow: hidden;
        }

        &.show {
          margin-right: -10%;
          width: 100%;

          a {
            display: block;
          }
        }

        a {
          display: none;

          &.active {
            display: block;
          }
        }
      }

      a {
        color: $p2-color;
        text-decoration: none;

        &:hover, &.active {
          color: $p1-color;
        }
      }
    }

    .language-switcher-locale-url {
      @extend .cm_cct_menu;
      @include border-top-left-radius(0);
      @include border-bottom-left-radius;
      bottom: auto;
      top: 0;

      &.hide {
        display: none;
      }

      >li {
        @include inline-block;
      }

      @include cell {
        @include border-radius(0);
        display: inline-block;
        width: 10%;
        margin: 0;
        padding: 0;
        float: left;
        text-overflow: hidden;
        position: relative;

        >li {
          display: none;

          &.active {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;

            >a {
              visibility: hidden;
            }

            &.uk {
              background-image: url(../images/ua.svg);
            }

            &.ru {
              background-image: url(../images/ru.svg);
            }

            &.en {
              background-image: url(../images/en.svg);
            }
          }
        }

        &.show {
          margin-left: -90%;
          width: 100%;
          >li {
            display: block;

            &.active {
              background-image: none;
              >a {
                  display: block;
                  visibility: visible;
              }
            }
          }
        }
      }
    }
  }

  >main {
    background: $p1-color;
    min-height: $padding;
  }

  >footer {
    @include inline-block;
    width: grid(960);
    min-height: grid(100);
    color: $p1-color;
    background: $p2-color;
    text-align: left;

    >.col {
      box-sizing: border-box;
      float: left;
      min-height: 100px;
      width: grid(240);
      padding: $padding;

      @include cell {
        width: grid(480);
      }
    }

    >.col-480 {
      float: left;
      min-height: 100px;
      width: grid(480);

      @include cell {
        width: grid(960);
      }
    }
  }

  div.copyright {
    color: $p1-color;
    background: $p2-color;
    padding: $padding;
  }
}

.back_to_top {
  cursor: pointer;
  display: none;
  position: fixed;
  right: $padding;
  bottom: $padding;
  opacity: 0.6;


  &::before {
    color: adjust-lightness($p3-color, -20);
    height: $biggest-font-size * 4;
    width: $biggest-font-size * 4;
    font-family: site_icon;
    font-size: $biggest-font-size * 4;
    content: $font-site_icon-content-menu-up;
  }

}
