.cm_cct_image_text {
  @include inline-block;

  width: grid(960);
  clear: both;
  .image {
    box-sizing: border-box;
    width: grid(480);
    float: left;

    >img {
      width: 100%;
      height: auto;
    }

    @include cell {
      width: grid(960);
    }
  }
  .title {
    box-sizing: border-box;
    font-weight: bold;
    font-size: $big-font-size;
    padding: $padding;
    width: grid(480);
    float: left;

    p {
      padding: 0;
      margin: 0;
    }

    @include cell {
      width: grid(960);
    }
  }
  .text {
    box-sizing: border-box;
    padding: $padding;
    text-align: justify;
    width: grid(480);
    float: left;

    @include cell {
      width: grid(960);
    }
  }

  &.right {
    .image {
      float: right;
    }
    .title {
      float: right;
    }
    .text {
      float: right;
    }
  }
}
