.cm_cct_image_text {
  @include cell {
    width: 480px;
  }

  @include inline-block;
  width: 480px;
  clear: both;

  @media all and (min-device-width: 700px) {
    width: 960px;
  }

  .image {
    width: 480px;
    float: left;
  }
  .title {
    font-weight: bold;
    font-size: $big-font-size;
    padding: $padding;
    width: 480px - 2 * $padding;
    float: left;
  }
  .text {
    padding: $padding;
    text-align: justify;
    width: 480px - 2 * $padding;
    float: left;
  }

  &.right {
    .image {
      float: right;
    }
    .title {
      float: right;
    }
    .text {
      float: right;
    }
  }
}