.cm_cct_share {
  @include inline-block;
  width: grid(960);
  text-align: right;

  .icon {
    @include ionic-icon("\f239", adjust-lightness($p3-color, -20), $biggest-font-size * 2);
    content: '';
    padding: $padding;
    &:hover:before {
      color: adjust-lightness($p3-color, 20);
    }

    &.facebook {
      &:before {
        content: "\f231";
      }
    }

    &.twitter {
      &:before {
        content: "\f243";
      }
    }
  }
}