.cm_cct_share {
  @include inline-block;
  width: grid(960);
  text-align: right;

  .icon {
    color: adjust-lightness($p3-color, -20);
    font-size: $biggest-font-size * 2;
    font-family: site_icon;
    content: '';
    padding: $padding;
    &:hover:before {
      color: adjust-lightness($p3-color, 20);
    }

    &.facebook {
      &:before {
        content: $font-site_icon-content-facebook;
      }
    }

    &.twitter {
      &:before {
        content: $font-site_icon-content-twitter;
      }
    }
  }
}
